* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

html body {
    font-size: 1.6rem;
}

/* Common */
.btn {
    padding: 12px 0;
    min-width: 118px;
    border-radius: 99px;
    background: var(--color-btn, #171100);
    font-family: "Poppins", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid var(--color-btn, #171100);
}

a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}
/* END COMMON */

.header-sticky {
    padding: 36px 0 8px;
    background: #fffcf4;
    position: sticky;
    top: -28px;
    z-index: 1;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.header-sticky .content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-header .nav {
    display: flex;
    align-items: center;
}

.content-header .nav a {
    padding: 14px 21px;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.content-header .nav .nav-header {
    display: flex;
    margin-right: 49px;
}

.nav li a:hover,
.nav li.active a {
    position: relative;
    color: #171100;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a {
    position: relative;
}

.nav li.active a::after {
    content: "";
    display: block;
    position: absolute;
    margin-left: 21px;
    top: 39px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.nav .btn-sign-up {
    width: 144px;
    padding: 12px 0;
}

.nav .btn-sign-up:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* ========= HERO ============== */
.hero {
    padding: 64px 0;
    background-color: #fffcf4;
}

.hero .content-hero {
    display: flex;
}

.hero .content-hero .block-hero {
    width: 48%;
    position: relative;
}

.block-hero .picture {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
    /* thuộc tính xử lý phần dư dưới tấm hình có tính chất inline */
    vertical-align: bottom;
}

.block-hero .info {
    position: absolute;
    margin-left: auto;
    bottom: 48px;
    right: 0;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    padding: 24px;
    border-radius: 12px;
}

.block-hero .info .desc {
    display: flex;
}

.block-hero .desc .icon {
    margin: 4px 0;
    padding: 0 12px;
    border-radius: 50%;
}

.block-hero .desc:first-of-type .icon {
    background: #fff9e8;
}

.block-hero .desc:nth-of-type(2) .icon {
    background: #fcefff;
}

.block-hero .desc:nth-of-type(3) .icon {
    background: #ebeaff;
}

.block-hero .desc .desc-para {
    margin-left: 16px;
}

.block-hero .desc-para .para {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.857;
}

.block-hero .desc-para .text {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .content-hero .main-hero {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-hero .main-hero h1.headering {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.content-hero .main-hero .para-desc {
    padding-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.content-hero .main-hero .cta-group {
    padding-top: 22px;
    display: flex;
}

.main-hero .cta-group .cta-watch {
    display: flex;
    align-items: center;
    padding-left: 28px;
}

.main-hero .cta-watch i {
    /* Xem lại cách chỉnh icon ở giữa */
    display: flex;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    padding: 12px 11px 12px 13px;
    margin-right: 14px;
    background: #fff;
    border-radius: 50%;
    color: var(--primary-color);
}

.main-hero .cta-watch .text {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.content-hero .main-hero span.para-desc {
    display: inline-block;
    padding-top: 48px;
}

.content-hero .main-hero .stat {
    padding-top: 8px;
}

.main-hero .stat {
    display: flex;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.main-hero .stat strong {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 4.44rem;
    font-weight: 700;
    line-height: 5.4rem;
    margin-right: 8px;
}

.main-hero .stat p:first-child {
    margin-right: 28px;
}

/* kiểm tra lại kích thước background của icon */

/* ========= POPULAR ============== */
.popular {
    margin-top: 200px;
}

.popular .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .info-intro .header {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.263;
    letter-spacing: -0.76px;
}

.popular .info-intro .desc {
    margin-top: 16px;
    width: 458px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.popular .intro .control-nav {
    display: flex;
    gap: 18px;
}

.popular .control-nav .control-btn {
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    padding: 10px 11px;
    color: var(--primary-color);
    border:1px solid var(--primary-color);
}

.popular .control-nav .control-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

.popular .course-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.popular .course-list .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
}

.popular .course-list .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .uplash {
    width: calc(100% + 2px);
    height: 278px;
    margin-left: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.course-item .info .header-info {
    display: flex;
    justify-content: space-between;
}

.course-item .header-info .header {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.course-item .header-info .rating {
    display: flex;
    align-items: center;
}

.course-item .header-info .rating-header {
    margin-left: 6px;
    color:  #FEA31B;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.course-item .info .desc {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.875;
}

.course-item .info .footer {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-item .info .value {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.course-item .info .book-btn:hover {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
    cursor: pointer;
}
